In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
%matplotlib inline

import seaborn as sns

In [2]:
import tensorflow as tf
tf.__version__

'2.12.0'

Dataset

In [5]:
train_csv_path: str = 'train.csv'

data: pd.DataFrame = pd.read_csv(train_csv_path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Watch the data style

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Remove any columns that aren't needed from the dataset.

In [7]:
data = data.drop(['PassengerId','Name','Ticket','Cabin','Parch'],axis=1)
data.head()

   Survived  Pclass     Sex   Age  SibSp     Fare Embarked
0         0       3    male  22.0      1   7.2500        S
1         1       1  female  38.0      1  71.2833        C
2         1       3  female  26.0      0   7.9250        S
3         1       1  female  35.0      1  53.1000        S
4         0       3    male  35.0      0   8.0500        S

Checking null values

In [8]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Fare          0
Embarked      2
dtype: int64

In [9]:
data.dropna(subset=['Embarked'], inplace=True)

Filling null values

In [10]:
data['Age'].fillna(data['Age'].mean(),inplace = True)

In [11]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Fare        0
Embarked    0
dtype: int64

In [12]:
sex_col = data['Sex'] == 'male'
sex_col = sex_col.astype('int32')


data = data.drop(['Sex'],axis=1)

data['Sex'] = sex_col

data.head()

   Survived  Pclass   Age  SibSp     Fare Embarked  Sex
0         0       3  22.0      1   7.2500        S    1
1         1       1  38.0      1  71.2833        C    0
2         1       3  26.0      0   7.9250        S    0
3         1       1  35.0      1  53.1000        S    0
4         0       3  35.0      0   8.0500        S    1

In [13]:
data = pd.get_dummies(data, columns = ['Embarked'])
data.head()

,Survived,Pclass,Age,SibSp,Fare,Sex,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,7.2500,1,0,0,1
1,1,1,38.0,1,71.2833,0,1,0,0
2,1,3,26.0,0,7.9250,0,0,0,1
3,1,1,35.0,1,53.1000,0,0,0,1
4,0,3,35.0,0,8.0500,1,0,0,1

Split Data

In [14]:
X = data.drop('Survived', axis=1).to_numpy()
y = data['Survived'].to_numpy()

In [15]:
X.shape, y.shape

((889, 8), (889,))

Feature scaling

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

Splitting traning set

In [17]:
from sklearn.model_selection import train_test_split

tf.random.set_seed(42)

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((711, 8), (178, 8), (711,), (178,))

Building and Training model

In [18]:

tf.random.set_seed(42)

model_1 = tf.keras.Sequential([
           tf.keras.layers.Dense(9, activation='relu'),
           tf.keras.layers.Dense(15, activation='relu'),
           tf.keras.layers.Dense(50, activation='relu'),
           tf.keras.layers.Dense(2, activation='softmax')
])

model_1.compile(loss=tf.keras.losses.BinaryCrossentropy(),
                 optimizer=tf.keras.optimizers.Adam(learning_rate=0.0001),
                 metrics=['accuracy'])

history = model_1.fit(X_train, 
                      tf.one_hot(y_train, depth=2), 
                      epochs=250,
                      verbose = 1,
                      validation_data=(X_valid, tf.one_hot(y_valid, depth=2)))

Epoch 1/250
23/23 [==============================] - 1s 11ms/step - loss: 0.6953 - accuracy: 0.5696 - val_loss: 0.6919 - val_accuracy: 0.5787
Epoch 2/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6901 - accuracy: 0.5935 - val_loss: 0.6863 - val_accuracy: 0.5955
Epoch 3/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6850 - accuracy: 0.6287 - val_loss: 0.6805 - val_accuracy: 0.6854
Epoch 4/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6799 - accuracy: 0.6639 - val_loss: 0.6743 - val_accuracy: 0.7191
Epoch 5/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6747 - accuracy: 0.6892 - val_loss: 0.6686 - val_accuracy: 0.7360
Epoch 6/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6695 - accuracy: 0.7117 - val_loss: 0.6625 - val_accuracy: 0.7528
Epoch 7/250
23/23 [==============================] - 0s 5ms/step - loss: 0.6642 - accuracy: 0.7215 - val_loss: 0.6568 - val_accuracy: 0.7416
Epoch 8/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6590 - accuracy: 0.7286 - val_loss: 0.6505 - val_accuracy: 0.7584
Epoch 9/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6535 - accuracy: 0.7440 - val_loss: 0.6442 - val_accuracy: 0.7640
Epoch 10/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6480 - accuracy: 0.7482 - val_loss: 0.6379 - val_accuracy: 0.7809
Epoch 11/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6425 - accuracy: 0.7482 - val_loss: 0.6314 - val_accuracy: 0.7921
Epoch 12/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6369 - accuracy: 0.7440 - val_loss: 0.6253 - val_accuracy: 0.7978
Epoch 13/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6313 - accuracy: 0.7496 - val_loss: 0.6186 - val_accuracy: 0.8034
Epoch 14/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6256 - accuracy: 0.7553 - val_loss: 0.6120 - val_accuracy: 0.8034
Epoch 15/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6197 - accuracy: 0.7637 - val_loss: 0.6059 - val_accuracy: 0.8034
Epoch 16/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6141 - accuracy: 0.7707 - val_loss: 0.5996 - val_accuracy: 0.8090
Epoch 17/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6083 - accuracy: 0.7679 - val_loss: 0.5933 - val_accuracy: 0.8090
Epoch 18/250
23/23 [==============================] - 0s 3ms/step - loss: 0.6024 - accuracy: 0.7679 - val_loss: 0.5868 - val_accuracy: 0.8146
Epoch 19/250
23/23 [==============================] - 0s 6ms/step - loss: 0.5965 - accuracy: 0.7665 - val_loss: 0.5802 - val_accuracy: 0.8202
Epoch 20/250
23/23 [==============================] - 0s 4ms/step - loss: 0.5907 - accuracy: 0.7679 - val_loss: 0.5736 - val_accuracy: 0.8202
Epoch 21/250
23/23 [==============================] - 0s 4ms/step - loss: 0.5847 - accuracy: 0.7722 - val_loss: 0.5673 - val_accuracy: 0.8202
Epoch 22/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5789 - accuracy: 0.7707 - val_loss: 0.5612 - val_accuracy: 0.8146
Epoch 23/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5736 - accuracy: 0.7693 - val_loss: 0.5553 - val_accuracy: 0.8146
Epoch 24/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5681 - accuracy: 0.7693 - val_loss: 0.5497 - val_accuracy: 0.8146
Epoch 25/250
23/23 [==============================] - 0s 2ms/step - loss: 0.5628 - accuracy: 0.7693 - val_loss: 0.5433 - val_accuracy: 0.8146
Epoch 26/250
23/23 [==============================] - 0s 2ms/step - loss: 0.5574 - accuracy: 0.7693 - val_loss: 0.5378 - val_accuracy: 0.8146
Epoch 27/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5523 - accuracy: 0.7707 - val_loss: 0.5323 - val_accuracy: 0.8146
Epoch 28/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5474 - accuracy: 0.7750 - val_loss: 0.5273 - val_accuracy: 0.8090
Epoch 29/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5426 - accuracy: 0.7736 - val_loss: 0.5224 - val_accuracy: 0.8090
Epoch 30/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5380 - accuracy: 0.7750 - val_loss: 0.5174 - val_accuracy: 0.8146
Epoch 31/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5336 - accuracy: 0.7778 - val_loss: 0.5130 - val_accuracy: 0.8146
Epoch 32/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5295 - accuracy: 0.7820 - val_loss: 0.5086 - val_accuracy: 0.8202
Epoch 33/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5252 - accuracy: 0.7834 - val_loss: 0.5042 - val_accuracy: 0.8146
Epoch 34/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5213 - accuracy: 0.7820 - val_loss: 0.5004 - val_accuracy: 0.8202
Epoch 35/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5176 - accuracy: 0.7848 - val_loss: 0.4966 - val_accuracy: 0.8202
Epoch 36/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5140 - accuracy: 0.7848 - val_loss: 0.4931 - val_accuracy: 0.7978
Epoch 37/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5103 - accuracy: 0.7848 - val_loss: 0.4896 - val_accuracy: 0.8034
Epoch 38/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5070 - accuracy: 0.7848 - val_loss: 0.4862 - val_accuracy: 0.7978
Epoch 39/250
23/23 [==============================] - 0s 2ms/step - loss: 0.5038 - accuracy: 0.7862 - val_loss: 0.4832 - val_accuracy: 0.7978
Epoch 40/250
23/23 [==============================] - 0s 3ms/step - loss: 0.5010 - accuracy: 0.7862 - val_loss: 0.4804 - val_accuracy: 0.7978
Epoch 41/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4981 - accuracy: 0.7862 - val_loss: 0.4779 - val_accuracy: 0.7978
Epoch 42/250
23/23 [==============================] - 0s 5ms/step - loss: 0.4955 - accuracy: 0.7862 - val_loss: 0.4755 - val_accuracy: 0.7921
Epoch 43/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4929 - accuracy: 0.7862 - val_loss: 0.4738 - val_accuracy: 0.7921
Epoch 44/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4905 - accuracy: 0.7890 - val_loss: 0.4713 - val_accuracy: 0.7921
Epoch 45/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4882 - accuracy: 0.7904 - val_loss: 0.4699 - val_accuracy: 0.7921
Epoch 46/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4862 - accuracy: 0.7890 - val_loss: 0.4685 - val_accuracy: 0.7921
Epoch 47/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4841 - accuracy: 0.7918 - val_loss: 0.4669 - val_accuracy: 0.7921
Epoch 48/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4822 - accuracy: 0.7918 - val_loss: 0.4652 - val_accuracy: 0.7921
Epoch 49/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4802 - accuracy: 0.7918 - val_loss: 0.4634 - val_accuracy: 0.7921
Epoch 50/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4782 - accuracy: 0.7918 - val_loss: 0.4623 - val_accuracy: 0.7921
Epoch 51/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4764 - accuracy: 0.7918 - val_loss: 0.4613 - val_accuracy: 0.7921
Epoch 52/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4748 - accuracy: 0.7932 - val_loss: 0.4603 - val_accuracy: 0.7978
Epoch 53/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4732 - accuracy: 0.7947 - val_loss: 0.4595 - val_accuracy: 0.7978
Epoch 54/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4718 - accuracy: 0.7947 - val_loss: 0.4583 - val_accuracy: 0.8090
Epoch 55/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4701 - accuracy: 0.7947 - val_loss: 0.4574 - val_accuracy: 0.8034
Epoch 56/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4687 - accuracy: 0.7947 - val_loss: 0.4564 - val_accuracy: 0.8090
Epoch 57/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4674 - accuracy: 0.7947 - val_loss: 0.4557 - val_accuracy: 0.8090
Epoch 58/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4661 - accuracy: 0.7947 - val_loss: 0.4552 - val_accuracy: 0.8090

Epoch 59/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4648 - accuracy: 0.7961 - val_loss: 0.4546 - val_accuracy: 0.8034
Epoch 60/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4635 - accuracy: 0.7947 - val_loss: 0.4540 - val_accuracy: 0.8090
Epoch 61/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4623 - accuracy: 0.7961 - val_loss: 0.4536 - val_accuracy: 0.8090
Epoch 62/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4611 - accuracy: 0.7961 - val_loss: 0.4534 - val_accuracy: 0.8090
Epoch 63/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4601 - accuracy: 0.7961 - val_loss: 0.4530 - val_accuracy: 0.8090
Epoch 64/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4589 - accuracy: 0.7975 - val_loss: 0.4525 - val_accuracy: 0.8090
Epoch 65/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4578 - accuracy: 0.7975 - val_loss: 0.4521 - val_accuracy: 0.8090
Epoch 66/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4568 - accuracy: 0.7975 - val_loss: 0.4518 - val_accuracy: 0.8090
Epoch 67/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4558 - accuracy: 0.7989 - val_loss: 0.4513 - val_accuracy: 0.8090
Epoch 68/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4548 - accuracy: 0.8003 - val_loss: 0.4511 - val_accuracy: 0.8090
Epoch 69/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4538 - accuracy: 0.7989 - val_loss: 0.4509 - val_accuracy: 0.8090
Epoch 70/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4529 - accuracy: 0.7989 - val_loss: 0.4505 - val_accuracy: 0.8090
Epoch 71/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4521 - accuracy: 0.8003 - val_loss: 0.4501 - val_accuracy: 0.8090
Epoch 72/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4512 - accuracy: 0.8003 - val_loss: 0.4502 - val_accuracy: 0.8090
Epoch 73/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4504 - accuracy: 0.8003 - val_loss: 0.4498 - val_accuracy: 0.8090
Epoch 74/250
23/23 [==============================] - 0s 5ms/step - loss: 0.4497 - accuracy: 0.8017 - val_loss: 0.4497 - val_accuracy: 0.8090
Epoch 75/250
23/23 [==============================] - 0s 5ms/step - loss: 0.4488 - accuracy: 0.8059 - val_loss: 0.4502 - val_accuracy: 0.8090
Epoch 76/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4481 - accuracy: 0.8031 - val_loss: 0.4498 - val_accuracy: 0.8090
Epoch 77/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4473 - accuracy: 0.8017 - val_loss: 0.4497 - val_accuracy: 0.8090
Epoch 78/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4466 - accuracy: 0.8017 - val_loss: 0.4494 - val_accuracy: 0.8034
Epoch 79/250
23/23 [==============================] - 0s 5ms/step - loss: 0.4458 - accuracy: 0.8045 - val_loss: 0.4495 - val_accuracy: 0.8034
Epoch 80/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4451 - accuracy: 0.8045 - val_loss: 0.4495 - val_accuracy: 0.8034
Epoch 81/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4444 - accuracy: 0.8073 - val_loss: 0.4501 - val_accuracy: 0.7978
Epoch 82/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4436 - accuracy: 0.8087 - val_loss: 0.4501 - val_accuracy: 0.7865
Epoch 83/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4431 - accuracy: 0.8087 - val_loss: 0.4504 - val_accuracy: 0.7865
Epoch 84/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4423 - accuracy: 0.8087 - val_loss: 0.4505 - val_accuracy: 0.7865
Epoch 85/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4417 - accuracy: 0.8115 - val_loss: 0.4499 - val_accuracy: 0.8090
Epoch 86/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4411 - accuracy: 0.8115 - val_loss: 0.4502 - val_accuracy: 0.7978
Epoch 87/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4405 - accuracy: 0.8087 - val_loss: 0.4503 - val_accuracy: 0.7809
Epoch 88/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4398 - accuracy: 0.8101 - val_loss: 0.4500 - val_accuracy: 0.7978
Epoch 89/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4392 - accuracy: 0.8129 - val_loss: 0.4500 - val_accuracy: 0.8090
Epoch 90/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4386 - accuracy: 0.8129 - val_loss: 0.4502 - val_accuracy: 0.7978
Epoch 91/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4381 - accuracy: 0.8129 - val_loss: 0.4502 - val_accuracy: 0.7978
Epoch 92/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4373 - accuracy: 0.8129 - val_loss: 0.4503 - val_accuracy: 0.7921
Epoch 93/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4369 - accuracy: 0.8087 - val_loss: 0.4509 - val_accuracy: 0.7865
Epoch 94/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4362 - accuracy: 0.8087 - val_loss: 0.4508 - val_accuracy: 0.7865
Epoch 95/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4356 - accuracy: 0.8087 - val_loss: 0.4511 - val_accuracy: 0.7865
Epoch 96/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4350 - accuracy: 0.8101 - val_loss: 0.4517 - val_accuracy: 0.7865
Epoch 97/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4346 - accuracy: 0.8101 - val_loss: 0.4519 - val_accuracy: 0.7865
Epoch 98/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4341 - accuracy: 0.8101 - val_loss: 0.4521 - val_accuracy: 0.7865
Epoch 99/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4336 - accuracy: 0.8129 - val_loss: 0.4522 - val_accuracy: 0.7865
Epoch 100/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4330 - accuracy: 0.8087 - val_loss: 0.4517 - val_accuracy: 0.7865
Epoch 101/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4326 - accuracy: 0.8087 - val_loss: 0.4517 - val_accuracy: 0.7921
Epoch 102/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4320 - accuracy: 0.8101 - val_loss: 0.4515 - val_accuracy: 0.7865
Epoch 103/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4315 - accuracy: 0.8101 - val_loss: 0.4518 - val_accuracy: 0.7921
Epoch 104/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4309 - accuracy: 0.8115 - val_loss: 0.4518 - val_accuracy: 0.7865
Epoch 105/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4305 - accuracy: 0.8115 - val_loss: 0.4518 - val_accuracy: 0.7865
Epoch 106/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4298 - accuracy: 0.8115 - val_loss: 0.4523 - val_accuracy: 0.7865
Epoch 107/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4295 - accuracy: 0.8115 - val_loss: 0.4528 - val_accuracy: 0.7865
Epoch 108/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4291 - accuracy: 0.8129 - val_loss: 0.4519 - val_accuracy: 0.7921
Epoch 109/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4285 - accuracy: 0.8143 - val_loss: 0.4530 - val_accuracy: 0.7865
Epoch 110/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4279 - accuracy: 0.8115 - val_loss: 0.4534 - val_accuracy: 0.7865
Epoch 111/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4275 - accuracy: 0.8129 - val_loss: 0.4536 - val_accuracy: 0.7865
Epoch 112/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4270 - accuracy: 0.8143 - val_loss: 0.4531 - val_accuracy: 0.7865
Epoch 113/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4266 - accuracy: 0.8143 - val_loss: 0.4528 - val_accuracy: 0.7865
Epoch 114/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4260 - accuracy: 0.8143 - val_loss: 0.4533 - val_accuracy: 0.7865
Epoch 115/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4257 - accuracy: 0.8129 - val_loss: 0.4530 - val_accuracy: 0.7978
Epoch 116/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4252 - accuracy: 0.8129 - val_loss: 0.4537 - val_accuracy: 0.7865
Epoch 117/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4247 - accuracy: 0.8143 - val_loss: 0.4540 - val_accuracy: 0.7865
Epoch 118/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4243 - accuracy: 0.8143 - val_loss: 0.4538 - val_accuracy: 0.7978
Epoch 119/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4238 - accuracy: 0.8143 - val_loss: 0.4539 - val_accuracy: 0.7978
Epoch 120/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4234 - accuracy: 0.8143 - val_loss: 0.4539 - val_accuracy: 0.7978
Epoch 121/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4230 - accuracy: 0.8129 - val_loss: 0.4539 - val_accuracy: 0.7978
Epoch 122/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4226 - accuracy: 0.8143 - val_loss: 0.4541 - val_accuracy: 0.7978
Epoch 123/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4223 - accuracy: 0.8143 - val_loss: 0.4544 - val_accuracy: 0.7978
Epoch 124/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4219 - accuracy: 0.8143 - val_loss: 0.4550 - val_accuracy: 0.7978
Epoch 125/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4215 - accuracy: 0.8186 - val_loss: 0.4548 - val_accuracy: 0.7978
Epoch 126/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4212 - accuracy: 0.8143 - val_loss: 0.4547 - val_accuracy: 0.7978
Epoch 127/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4206 - accuracy: 0.8143 - val_loss: 0.4546 - val_accuracy: 0.7978
Epoch 128/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4204 - accuracy: 0.8158 - val_loss: 0.4554 - val_accuracy: 0.7978
Epoch 129/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4200 - accuracy: 0.8158 - val_loss: 0.4553 - val_accuracy: 0.7978
Epoch 130/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4198 - accuracy: 0.8158 - val_loss: 0.4561 - val_accuracy: 0.7978
Epoch 131/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4194 - accuracy: 0.8158 - val_loss: 0.4562 - val_accuracy: 0.7978
Epoch 132/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4192 - accuracy: 0.8143 - val_loss: 0.4554 - val_accuracy: 0.8034
Epoch 133/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4187 - accuracy: 0.8129 - val_loss: 0.4560 - val_accuracy: 0.8034
Epoch 134/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4183 - accuracy: 0.8129 - val_loss: 0.4566 - val_accuracy: 0.8034
Epoch 135/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4180 - accuracy: 0.8143 - val_loss: 0.4573 - val_accuracy: 0.7978
Epoch 136/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4177 - accuracy: 0.8129 - val_loss: 0.4571 - val_accuracy: 0.7978
Epoch 137/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4173 - accuracy: 0.8129 - val_loss: 0.4575 - val_accuracy: 0.7978
Epoch 138/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4171 - accuracy: 0.8129 - val_loss: 0.4577 - val_accuracy: 0.7978
Epoch 139/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4168 - accuracy: 0.8129 - val_loss: 0.4582 - val_accuracy: 0.7978
Epoch 140/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4165 - accuracy: 0.8129 - val_loss: 0.4594 - val_accuracy: 0.7809
Epoch 141/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4163 - accuracy: 0.8158 - val_loss: 0.4589 - val_accuracy: 0.7921
Epoch 142/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4159 - accuracy: 0.8129 - val_loss: 0.4597 - val_accuracy: 0.7921
Epoch 143/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8158 - val_loss: 0.4595 - val_accuracy: 0.7921
Epoch 144/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4152 - accuracy: 0.8143 - val_loss: 0.4597 - val_accuracy: 0.7921
Epoch 145/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4150 - accuracy: 0.8101 - val_loss: 0.4598 - val_accuracy: 0.7978
Epoch 146/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4146 - accuracy: 0.8143 - val_loss: 0.4602 - val_accuracy: 0.7921
Epoch 147/250
23/23 [==============================] - 0s 8ms/step - loss: 0.4143 - accuracy: 0.8143 - val_loss: 0.4605 - val_accuracy: 0.7921
Epoch 148/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4141 - accuracy: 0.8158 - val_loss: 0.4599 - val_accuracy: 0.7978
Epoch 149/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4137 - accuracy: 0.8115 - val_loss: 0.4599 - val_accuracy: 0.7978
Epoch 150/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4134 - accuracy: 0.8115 - val_loss: 0.4606 - val_accuracy: 0.7978
Epoch 151/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4132 - accuracy: 0.8143 - val_loss: 0.4602 - val_accuracy: 0.7978
Epoch 152/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4129 - accuracy: 0.8115 - val_loss: 0.4602 - val_accuracy: 0.7978
Epoch 153/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4126 - accuracy: 0.8115 - val_loss: 0.4607 - val_accuracy: 0.7978
Epoch 154/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4124 - accuracy: 0.8115 - val_loss: 0.4606 - val_accuracy: 0.7978
Epoch 155/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4121 - accuracy: 0.8129 - val_loss: 0.4619 - val_accuracy: 0.7978
Epoch 156/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4118 - accuracy: 0.8129 - val_loss: 0.4622 - val_accuracy: 0.8034
Epoch 157/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4116 - accuracy: 0.8143 - val_loss: 0.4625 - val_accuracy: 0.8034
Epoch 158/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4113 - accuracy: 0.8158 - val_loss: 0.4631 - val_accuracy: 0.8034
Epoch 159/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4113 - accuracy: 0.8129 - val_loss: 0.4634 - val_accuracy: 0.8034
Epoch 160/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4107 - accuracy: 0.8158 - val_loss: 0.4637 - val_accuracy: 0.7978
Epoch 161/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4106 - accuracy: 0.8143 - val_loss: 0.4640 - val_accuracy: 0.7978
Epoch 162/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4103 - accuracy: 0.8143 - val_loss: 0.4630 - val_accuracy: 0.8034
Epoch 163/250
23/23 [==============================] - 0s 8ms/step - loss: 0.4100 - accuracy: 0.8129 - val_loss: 0.4632 - val_accuracy: 0.8034
Epoch 164/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4096 - accuracy: 0.8143 - val_loss: 0.4635 - val_accuracy: 0.8034
Epoch 165/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4096 - accuracy: 0.8172 - val_loss: 0.4637 - val_accuracy: 0.8034
Epoch 166/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4093 - accuracy: 0.8158 - val_loss: 0.4645 - val_accuracy: 0.8034
Epoch 167/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8172 - val_loss: 0.4655 - val_accuracy: 0.8034
Epoch 168/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4087 - accuracy: 0.8186 - val_loss: 0.4655 - val_accuracy: 0.7978
Epoch 169/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4085 - accuracy: 0.8172 - val_loss: 0.4656 - val_accuracy: 0.8034
Epoch 170/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4082 - accuracy: 0.8186 - val_loss: 0.4658 - val_accuracy: 0.8034
Epoch 171/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4081 - accuracy: 0.8186 - val_loss: 0.4666 - val_accuracy: 0.8034
Epoch 172/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4079 - accuracy: 0.8186 - val_loss: 0.4658 - val_accuracy: 0.8034
Epoch 173/250

23/23 [==============================] - 0s 4ms/step - loss: 0.4075 - accuracy: 0.8200 - val_loss: 0.4663 - val_accuracy: 0.8034
Epoch 174/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4072 - accuracy: 0.8228 - val_loss: 0.4667 - val_accuracy: 0.8034
Epoch 175/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4071 - accuracy: 0.8200 - val_loss: 0.4673 - val_accuracy: 0.8034
Epoch 176/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4069 - accuracy: 0.8228 - val_loss: 0.4666 - val_accuracy: 0.8034
Epoch 177/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4066 - accuracy: 0.8228 - val_loss: 0.4667 - val_accuracy: 0.8034
Epoch 178/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8228 - val_loss: 0.4671 - val_accuracy: 0.8034
Epoch 179/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4061 - accuracy: 0.8228 - val_loss: 0.4670 - val_accuracy: 0.8034
Epoch 180/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4059 - accuracy: 0.8214 - val_loss: 0.4666 - val_accuracy: 0.8090
Epoch 181/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8214 - val_loss: 0.4676 - val_accuracy: 0.8034
Epoch 182/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4054 - accuracy: 0.8242 - val_loss: 0.4683 - val_accuracy: 0.8034
Epoch 183/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8200 - val_loss: 0.4679 - val_accuracy: 0.8034
Epoch 184/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4050 - accuracy: 0.8214 - val_loss: 0.4684 - val_accuracy: 0.8034
Epoch 185/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4048 - accuracy: 0.8228 - val_loss: 0.4680 - val_accuracy: 0.8034
Epoch 186/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4044 - accuracy: 0.8242 - val_loss: 0.4685 - val_accuracy: 0.8034
Epoch 187/250
23/23 [==============================] - 0s 5ms/step - loss: 0.4043 - accuracy: 0.8242 - val_loss: 0.4687 - val_accuracy: 0.8034
Epoch 188/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4041 - accuracy: 0.8242 - val_loss: 0.4684 - val_accuracy: 0.8034
Epoch 189/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4040 - accuracy: 0.8200 - val_loss: 0.4685 - val_accuracy: 0.8034
Epoch 190/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4037 - accuracy: 0.8228 - val_loss: 0.4692 - val_accuracy: 0.8034
Epoch 191/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4035 - accuracy: 0.8242 - val_loss: 0.4699 - val_accuracy: 0.8090
Epoch 192/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8270 - val_loss: 0.4702 - val_accuracy: 0.8090
Epoch 193/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4030 - accuracy: 0.8256 - val_loss: 0.4698 - val_accuracy: 0.8090
Epoch 194/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4029 - accuracy: 0.8284 - val_loss: 0.4708 - val_accuracy: 0.8090
Epoch 195/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4030 - accuracy: 0.8256 - val_loss: 0.4705 - val_accuracy: 0.8090
Epoch 196/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4024 - accuracy: 0.8256 - val_loss: 0.4709 - val_accuracy: 0.8090
Epoch 197/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4023 - accuracy: 0.8298 - val_loss: 0.4717 - val_accuracy: 0.8090
Epoch 198/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4021 - accuracy: 0.8298 - val_loss: 0.4715 - val_accuracy: 0.8090
Epoch 199/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4020 - accuracy: 0.8270 - val_loss: 0.4719 - val_accuracy: 0.8090
Epoch 200/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4017 - accuracy: 0.8242 - val_loss: 0.4716 - val_accuracy: 0.8090
Epoch 201/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4015 - accuracy: 0.8228 - val_loss: 0.4722 - val_accuracy: 0.8090
Epoch 202/250
23/23 [==============================] - 0s 4ms/step - loss: 0.4013 - accuracy: 0.8228 - val_loss: 0.4725 - val_accuracy: 0.8090
Epoch 203/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4012 - accuracy: 0.8228 - val_loss: 0.4728 - val_accuracy: 0.8090
Epoch 204/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4010 - accuracy: 0.8242 - val_loss: 0.4736 - val_accuracy: 0.8034
Epoch 205/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4008 - accuracy: 0.8270 - val_loss: 0.4734 - val_accuracy: 0.8034
Epoch 206/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4006 - accuracy: 0.8256 - val_loss: 0.4739 - val_accuracy: 0.8034
Epoch 207/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4004 - accuracy: 0.8242 - val_loss: 0.4739 - val_accuracy: 0.8034
Epoch 208/250
23/23 [==============================] - 0s 3ms/step - loss: 0.4002 - accuracy: 0.8242 - val_loss: 0.4739 - val_accuracy: 0.8090
Epoch 209/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8256 - val_loss: 0.4733 - val_accuracy: 0.8090
Epoch 210/250
23/23 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8228 - val_loss: 0.4741 - val_accuracy: 0.8090
Epoch 211/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3995 - accuracy: 0.8242 - val_loss: 0.4741 - val_accuracy: 0.8090
Epoch 212/250
23/23 [==============================] - 0s 2ms/step - loss: 0.3994 - accuracy: 0.8228 - val_loss: 0.4750 - val_accuracy: 0.8034
Epoch 213/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3991 - accuracy: 0.8228 - val_loss: 0.4751 - val_accuracy: 0.8034
Epoch 214/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3992 - accuracy: 0.8270 - val_loss: 0.4758 - val_accuracy: 0.8034
Epoch 215/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3987 - accuracy: 0.8270 - val_loss: 0.4756 - val_accuracy: 0.8090
Epoch 216/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3986 - accuracy: 0.8270 - val_loss: 0.4752 - val_accuracy: 0.8090
Epoch 217/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3984 - accuracy: 0.8270 - val_loss: 0.4758 - val_accuracy: 0.8090
Epoch 218/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3982 - accuracy: 0.8256 - val_loss: 0.4760 - val_accuracy: 0.8090
Epoch 219/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3980 - accuracy: 0.8256 - val_loss: 0.4765 - val_accuracy: 0.8034
Epoch 220/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3978 - accuracy: 0.8270 - val_loss: 0.4761 - val_accuracy: 0.8034
Epoch 221/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3978 - accuracy: 0.8270 - val_loss: 0.4770 - val_accuracy: 0.8034
Epoch 222/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3976 - accuracy: 0.8228 - val_loss: 0.4770 - val_accuracy: 0.8090
Epoch 223/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3976 - accuracy: 0.8270 - val_loss: 0.4776 - val_accuracy: 0.8034
Epoch 224/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3971 - accuracy: 0.8284 - val_loss: 0.4776 - val_accuracy: 0.8034
Epoch 225/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3970 - accuracy: 0.8284 - val_loss: 0.4778 - val_accuracy: 0.8034
Epoch 226/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3969 - accuracy: 0.8270 - val_loss: 0.4782 - val_accuracy: 0.8034
Epoch 227/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3967 - accuracy: 0.8284 - val_loss: 0.4781 - val_accuracy: 0.8090
Epoch 228/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3965 - accuracy: 0.8270 - val_loss: 0.4785 - val_accuracy: 0.8090
Epoch 229/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3964 - accuracy: 0.8270 - val_loss: 0.4785 - val_accuracy: 0.8090
Epoch 230/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3962 - accuracy: 0.8270 - val_loss: 0.4785 - val_accuracy: 0.8034
Epoch 231/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3961 - accuracy: 0.8256 - val_loss: 0.4781 - val_accuracy: 0.8034
Epoch 232/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3960 - accuracy: 0.8256 - val_loss: 0.4780 - val_accuracy: 0.8090
Epoch 233/250
23/23 [==============================] - 0s 4ms/step - loss: 0.3959 - accuracy: 0.8256 - val_loss: 0.4785 - val_accuracy: 0.8034
Epoch 234/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3956 - accuracy: 0.8256 - val_loss: 0.4783 - val_accuracy: 0.8034
Epoch 235/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3956 - accuracy: 0.8256 - val_loss: 0.4780 - val_accuracy: 0.8090
Epoch 236/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3954 - accuracy: 0.8256 - val_loss: 0.4784 - val_accuracy: 0.8034
Epoch 237/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3952 - accuracy: 0.8256 - val_loss: 0.4789 - val_accuracy: 0.8034
Epoch 238/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3950 - accuracy: 0.8256 - val_loss: 0.4788 - val_accuracy: 0.8034
Epoch 239/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3948 - accuracy: 0.8256 - val_loss: 0.4789 - val_accuracy: 0.8034
Epoch 240/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3947 - accuracy: 0.8256 - val_loss: 0.4795 - val_accuracy: 0.8034
Epoch 241/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3948 - accuracy: 0.8270 - val_loss: 0.4805 - val_accuracy: 0.8034
Epoch 242/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3948 - accuracy: 0.8242 - val_loss: 0.4798 - val_accuracy: 0.8090
Epoch 243/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3943 - accuracy: 0.8256 - val_loss: 0.4801 - val_accuracy: 0.8090
Epoch 244/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3942 - accuracy: 0.8256 - val_loss: 0.4800 - val_accuracy: 0.8146
Epoch 245/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3943 - accuracy: 0.8270 - val_loss: 0.4816 - val_accuracy: 0.8034
Epoch 246/250
23/23 [==============================] - 0s 4ms/step - loss: 0.3939 - accuracy: 0.8270 - val_loss: 0.4813 - val_accuracy: 0.8034
Epoch 247/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3938 - accuracy: 0.8270 - val_loss: 0.4817 - val_accuracy: 0.8034
Epoch 248/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3936 - accuracy: 0.8284 - val_loss: 0.4822 - val_accuracy: 0.8034
Epoch 249/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3934 - accuracy: 0.8270 - val_loss: 0.4824 - val_accuracy: 0.8034
Epoch 250/250
23/23 [==============================] - 0s 3ms/step - loss: 0.3932 - accuracy: 0.8270 - val_loss: 0.4823 - val_accuracy: 0.8034

In [19]:
model_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 81

 dense_1 (Dense)             (None, 15)                150

 dense_2 (Dense)             (None, 50)                800

 dense_3 (Dense)             (None, 2)                 102

=================================================================
Total params: 1,133
Trainable params: 1,133
Non-trainable params: 0
_________________________________________________________________

In [20]:
from tensorflow.keras.utils import plot_model

plot_model(model_1, show_shapes=True)

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.

Test

In [23]:
test_dataset = pd.read_csv('test.csv')

In [24]:
test_passengerIds = test_dataset['PassengerId'].values
test_dataset=test_dataset.drop(['PassengerId', 'Name','Ticket','Cabin', 'Parch'],axis=1)

In [25]:
test_dataset.head()

   Pclass     Sex   Age  SibSp     Fare Embarked
0       3    male  34.5      0   7.8292        Q
1       3  female  47.0      1   7.0000        S
2       2    male  62.0      0   9.6875        Q
3       3    male  27.0      0   8.6625        S
4       3  female  22.0      1  12.2875        S

In [26]:
test_dataset.isna().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Fare         1
Embarked     0
dtype: int64

In [27]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Fare      417 non-null    float64
 5   Embarked  418 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 19.7+ KB

In [28]:
test_dataset['Age'].fillna(test_dataset['Age'].mean(),inplace = True)
test_dataset['Fare'].fillna(test_dataset['Fare'].mean(),inplace = True)
test_dataset.isna().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Fare        0
Embarked    0
dtype: int64

In [29]:
sex_col = test_dataset['Sex'] == 'male'
sex_col = sex_col.astype('int32')


test_dataset = test_dataset.drop(['Sex'],axis=1)

test_dataset['Sex'] = sex_col

test_dataset.head()

   Pclass   Age  SibSp     Fare Embarked  Sex
0       3  34.5      0   7.8292        Q    1
1       3  47.0      1   7.0000        S    0
2       2  62.0      0   9.6875        Q    1
3       3  27.0      0   8.6625        S    1
4       3  22.0      1  12.2875        S    0

In [30]:
test_dataset = pd.get_dummies(test_dataset, columns = ['Embarked'])
test_dataset.head()

   Pclass   Age  SibSp     Fare  Sex  Embarked_C  Embarked_Q  Embarked_S
0       3  34.5      0   7.8292    1           0           1           0
1       3  47.0      1   7.0000    0           0           0           1
2       2  62.0      0   9.6875    1           0           1           0
3       3  27.0      0   8.6625    1           0           0           1
4       3  22.0      1  12.2875    0           0           0           1

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
test_dataset = sc.fit_transform(test_dataset)

In [32]:
y_pred = model_1.predict(test_dataset).argmax(axis = 1)
y_pred.shape

14/14 [==============================] - 0s 927us/step

(418,)

In [33]:
test_passengerIds.shape

(418,)

In [66]:
output = pd.DataFrame({'PassengerId':test_passengerIds, 'Survived': y_pred})
output.to_csv('submission.csv', index=False)

In [67]:
data.head()

,Survived,Pclass,Age,SibSp,Fare,Sex,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,7.2500,1,0,0,1
1,1,1,38.0,1,71.2833,0,1,0,0
2,1,3,26.0,0,7.9250,0,0,0,1
3,1,1,35.0,1,53.1000,0,0,0,1
4,0,3,35.0,0,8.0500,1,0,0,1

In [68]:
data2 = data.drop(['Survived'],axis = 1)

In [70]:
data2.head()

   Pclass   Age  SibSp     Fare  Sex  Embarked_C  Embarked_Q  Embarked_S
0       3  22.0      1   7.2500    1           0           0           1
1       1  38.0      1  71.2833    0           1           0           0
2       3  26.0      0   7.9250    0           0           0           1
3       1  35.0      1  53.1000    0           0           0           1
4       3  35.0      0   8.0500    1           0           0           1

In [71]:
predst = model_1.predict(data2.values).argmax(axis = 1)

28/28 [==============================] - 0s 1ms/step

In [73]:
predst.shape

(889,)

In [74]:
z = data['Survived']

In [76]:
print(classification_report(z,predst))

              precision    recall  f1-score   support

           0       0.72      0.80      0.76       549
           1       0.61      0.50      0.55       340

    accuracy                           0.69       889
   macro avg       0.66      0.65      0.65       889
weighted avg       0.68      0.69      0.68       889